<ul>
    {% if page_obj.has_previous %}
    <li>
        <a href="?page=1">Première</a>
    </li>
    <li>
        <a href="?page={{ page_obj.previous_page_number }}">Précédente</a>
    </li>
{% endif %}
    <li>
        <span>Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages}}</span>
    </li>
    {% if page_obj.has_next %}
    <li>
        <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
    </li>
    <li>
        <a href="?page={{ page_obj.paginator.num_pages }}">Dernière</a>
    </li>
    {% endif %}
</ul>